<p style="color: green"><%= notice %></p>

<% content_for :title, "Alumnos" %>

<h1>Alumnos</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div id="alumnos">
  <ul class="list-group">
    <% @alumnos.each do |alumno| %>
      <li class="list-group-item">
        Nombre: <%=alumno.nombre%>
        <p> 
          <%= link_to "Mostrar este alumno", alumno, class: "btn btn-primary" %>   
        </p>
      </li>
    <% end %>
  </ul>
</div>

<% if can?(:create, @alumnos) %>
  <%= link_to "Nuevo alumno", new_alumno_path, class: "btn btn-success mt-3" %>
<% end %>
<br><br>
<%= button_to 'Cerrar sesión', destroy_usuario_session_path, method: :delete, class: "btn btn-danger" %>
