<p style="color: green"><%= notice %></p>

<% content_for :title, "Colegios" %>

<h1>Colegios</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>


<div id="colegios">
  <ul class="list-group">
    <% @colegios.each do |colegio| %>
      <li class="list-group-item">
        Nombre de Colegio: <%=colegio.nombre%>
        <p> 
          <%= link_to "Mostrar este colegio", colegio, class: "btn btn-primary" %>   
        </p>
      </li>
    <% end %>
  </ul>
</div>

<% if can?(:create, @colegios) %>
  <%= link_to "Nuevo colegio", new_colegio_path, class: "btn btn-success mt-3" %>
<% end %>
<br><br>
<%= button_to 'Cerrar sesión', destroy_usuario_session_path, method: :delete, class: "btn btn-danger" %>

