<div id="<%= dom_id nota %>">
  <p>
    <strong>Nota:</strong>
    <%= nota.nota %>
  </p>

  <p>
    <strong>Alumno:</strong>
    <%= nota.alumno_id %>
  </p>

  <p>
    <strong>Materia:</strong>
    <%= nota.materia_id %>
  </p>

  <p>
    <strong>Colegio:</strong>
    <%= nota.colegio_id %>
  </p>

</div>
